/* header */
header {
  height: 100px;
  background: #fff;
}

.logo img {
  float: left;
  margin-top: 25px;
}

.user_login a {
  float: right;
  margin: 30px 0 30px 19px;
  width: 110px;
  height: 40px;
  border-radius: 2px;
  background: #FC2015;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  color: #fff;
}

.icon i {
  float: right;
  margin: 40px 21px 0 0;
  color: #676A6C;
}

.navitems {
  display: flex;
  height: 170px;
}

.desc {
  flex: 1;
  margin-top: 70px;
}

.desc h3 a {
  font-size: 30px;
  font-weight: 400;
  color: #262B2E;
}

.desc p {
  font-size: 15px;
  color: #64686B;
}

.menu ul {
  display: flex;
  margin-top: 90px;
  margin-right: -15px;
}

.menu li a {
  position: relative;
  display: block;
  padding: 6px 15px;
  text-align: center;
  font-size: 13px;
  color: #262B2E;
  font-weight: 700;
  text-decoration: none;
}

.menu ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #cccfd0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: center;
  transition: .5s;
}
.menu ul li a:hover::before {
  transform: scaleX(0.8);
}
.menu .active {
  color: #CCCFD0;
}


/* main */
.info {
  display: flex;
  justify-content: space-between;
  height: 288px;
}

.swiper {
  padding: 10px;
  width: 560px;
  height: 288px;
  background: #fff;
}

.focus {
  position: relative;
  width: 540px;
  height: 268px;
  overflow: hidden;
}

.swiper ul {
  width: 550%;
}

.swiper li {
  float: left;
}

.swiper img {
  width: 540px;
  height: 268px;
}

.focus .arrow {
  position: absolute;
  display: none;
  top: 114px;
  width: 540px;
  height: 37px;
  padding: 0 5px;
}

.focus:hover .arrow{
  display: block;
}

.prev, .next {
  width: 25px;
  height: 37px;
  color: #fff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3)
}

.next {
  float: right;
}

.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.5)
}

.slider_indicators {
  position: absolute;
  display: flex;
  bottom: 11px;
  width: 540px;
  justify-content: center;
}

.slider_indicators i {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, .4);
  margin: 0 4px;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 50%;
  box-shadow: 0 0 6px #fff;
  cursor: pointer;
}

.slider_indicators .active {
  background: #fff;
}

.user_inner {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 288px;
  background: #fff;
}

.user_res {
  display: flex;
  height: 110px;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFEFF0;
}

.user_res h4 {
  font-size: 18px;
  font-weight: 400;
  color:#262B2E;
}

.user_res button {
  width: 95px;
  height: 40px;
  border-radius: 2px;
  border: 2px solid#E9E9EA;
  color: #676A6C;
  background: #fff;
  cursor: pointer;
}

.user_status_info {
  display: flex;
  justify-content:space-between;
  padding: 28px 50px 0;
}

.user_info {
  display: inline-block;
  margin-right: 160px;
}

.user_status_info dl span {
  display: inline-block;
  margin-bottom: 29px;
  font-size: 14px;
  font-weight: 700;
  color: #262B2E;
} 

.user_status_info dl li {
  margin-bottom: 22px;
  font-size: 13px;
  color: #262B2E;
}
.user_status_info dl li em {
  display: inline-block;
  margin-top: 8px;
}

.user_status_info button {
  width: 65px;
  height: 30px;
  border-radius: 2px;
  background: #58D24C;
  color: #fff;
  cursor: pointer;
}

.databox {
  position: relative;
  height: 748px;
  margin: 20px 0 53px 0;
}

.line {
  position: absolute;
  width: 1140px;
  height: 349px;
  background: #fff;
}

.line h3, .bar h3, .pie h3 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #262B2E;
  text-align: center;
}

.line .chart, .bar .chart, .pie .chart {
  height: 263px;
}

.bar, .pie {
  position: absolute;
  top: 369px;
  width: 560px;
  height: 377px;
  background: #fff;
}

.bar h3, .pie h3 {
  margin-top: 44px;
}

.pie {
  right: 0;
}


/* footer */
footer {
  position: relative;
  height: 290px;
  background: #1C1D20;
}

.b_cont {
  position: absolute;
  width: 100%;
  height: 253px;
  background: #202124;
}

footer img {
  float: left;
  margin: 80px 15px 0 0;
}

.link_item {
  float: left;
  margin: 80px 60px 0;
  font-size: 13px;
}

.link_item a {
  display: inline-block;
  margin-bottom: 6px;
  color: #fff;
}

.link_current {
  border-bottom: 1px solid #fff;
}